html, body {
  height: auto;
}
body {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
#container {

  margin-top: 30px;
  background: #f2f2f2;
  width: 900px;
  margin-left: auto;
  margin-right: auto;   
  overflow: hidden;
}